.body{
    background-image: url("https://i.postimg.cc/d0Q2k2pZ/backunder.jpg");
}
.card{
    display: flex;
    width: 250px;
    height: 350px;
    box-shadow: 0 0 0 2px #000000;
    margin-bottom: 50px;
}

.img{
    margin: auto;
    width: 50px;
    justify-content: center;
    margin-top: 15px;
    margin-bottom: 10px;
    align-items: center;
    position: relative;
}
.title{
    margin: auto;
    display: flex;
    justify-content: center;
    font-size: 20px;
}
.titledetail{
    margin: auto;
    display: flex;
    justify-content: center;
    font-size: 30px;
    color: white;
}
.Descrp{
    margin: auto;
    display: flex;
    justify-content: center;
    font-size: 15px;
}
.Descrpdetail{
    margin: auto;
    display: flex;
    justify-content: center;
    font-size: 15px;
    color: white;
    padding-left: 20%;
    padding-right: 20%;
}
.price{
    margin: auto;
    display: flex;
    justify-content: center;
    font-size: 30px;
}
.pricedetail{
    margin: auto;
    display: flex;
    justify-content: center;
    font-size: 30px;
    color: white;
}
.buttom{
    width: 100%;
    color: white;
    background-color: black;
}
.titulopage{
    width: 100%;
    background-color: white;
    font-size: 100px;
    align-items: center;
    padding-left: 210px;
    margin-bottom: 50px;
    margin-top: 50px;
}
.navlogo{
    width: 80px;
}

.activo{
    color:darkred;
}
.text{
    margin: auto;
    color: aliceblue;
    justify-content: center;
    align-items: center;
}
.imagen{
    display: grid;
    flex-direction: row;
    width: 30%;
    box-shadow: 0 0 0 2px #000000;
    margin-left: 30%;
}
.Navtext{
    padding: 10px;
    align-items: center;
    text-decoration: none;
    color: black;
}
.buttomcont{
    width: 20%;
    margin-left: 500px;
    margin-right: 100px;
    justify-content: center;
    
}
